
#skill .skill-meter {
    height: 5px;
    border-radius: 5px;
}

#skill .skill-meter .skill-meter-fill {
    width: 0px;
    border-radius: 5px;
    transition: 3s;
}

#skill .skill-tabs :is(.navbar-link-2,.navbar-link-3,.navbar-link-4,.navbar-link-5,.navbar-link-7,.navbar-link-8,.navbar-link-9,.navbar-link-10,.expertise-button-1,.expertise-button-2) {
    color: var(--dark);
}

#skill .skill-tabs :is(.navbar-link-2,.navbar-link-3,.navbar-link-4,.navbar-link-5,.navbar-link-7,.navbar-link-8,.navbar-link-9,.navbar-link-10,.expertise-button-1,.expertise-button-2).active {
    color: #FFFFFF;
}

#skill .expertise-group-33 hr {
    width: 30px;
}



